body {
    background:#fff;
}

.mail {
    text-decoration: none;
}

.left-in a:hover {
    border-bottom: 1.5px solid ;
}

.footer p {
    font-size: 10px;
    text-align: center;
}


.btn a:hover {
    font-size: 105%;
}

/*icon css*/
.btn div a {
    border: 1px solid #0a369d9d;
    padding-top: 7px;
    line-height: 30px;
    
}

.btn div p {
    color:#0d41bbfc;
}


@media (max-width: 632.99px) { 
    .container {
        padding-top: 40px;
    }
}
.fa-brands  {
    color:#1f4cb5;
}